display_label=false
display_icon=true
display_power=false
display_percentage=false
display_bar=false
display_bar_time=false
tooltip_display_percentage=true
tooltip_display_time=true
low_percentage=10
critical_percentage=5
action_on_low=1
hide_when_full=0
colorA=rgb(153,193,241)
colorH=rgb(0,255,0)
colorL=rgb(255,255,0)
colorC=rgb(255,0,0)
command_on_low=
command_on_critical=
