[Desktop Entry]
Type=Application
Name=GPG Password Agent
Name[af]=GPG-wagwoordagent
Name[ar]=عميل كلمة السر GPG
Name[as]=GPG পাছৱাৰ্ড সহায়ক
Name[ast]=Axente de contraseñes GPG
Name[be]=GPG-агент пароляў
Name[bg]=Агент за пароли на GPG
Name[bn]=GPG পাসওয়ার্ড এজেন্ট
Name[ca]=Agent de contrasenyes GPG
Name[ca@valencia]=Agent de contrasenyes GPG
Name[cs]=Agent hesel GPG
Name[da]=GPG-adgangskodeagent
Name[de]=GPG-Passwort-Agent
Name[el]=Πρόγραμμα κωδικού GPG
Name[en_GB]=GPG Password Agent
Name[es]=Agente de contraseñas GPG
Name[et]=GPG-võtmete agent
Name[eu]=GPG pasahitzaren agentea
Name[fa]=مامور گذرواژه GPG
Name[fi]=GPG-salasanojen agentti
Name[fr]=Agent de mot de passe GPG
Name[gl]=Axente de contrasinais GPG
Name[gu]=GPG પાસવર્જ ઍજન્ટ
Name[he]=סוכן ססמאות ה־PGP
Name[hu]=GPG jelszóügynök
Name[id]=Agen Sandi GPG
Name[it]=Agente password GPG
Name[ja]=GPG パスワードエージェント
Name[km]=ភ្នាក់ងារ​ពាក្យសម្ងាត់​របស់ GPG
Name[ko]=GPG 암호 에이전트
Name[lt]=GPG slaptažodžių agentas
Name[lv]=GPG paroles aģents
Name[mk]=Агент за лозинки за GPG
Name[nb]=GPG passordagent
Name[nl]=GPG-wachtwoordagent
Name[nn]=Passordagent for GPG
Name[pa]=GPG ਪਾਸਵਰਡ ਏਜੰਟ
Name[pl]=Agent hasła GPG
Name[pt]=Agente de Senha GPG
Name[pt_BR]=Agente de senha GPG
Name[ro]=Agent parole GPG
Name[ru]=Агент пароля GPG
Name[sl]=GPG agent gesel
Name[sr]=Агент за ГПГ лозинке
Name[sr@latin]=Agent za GPG lozinke
Name[sv]=GPG-lösenordsagent
Name[ta]=ஜிபிஜி கடவுச்சொல்லின் பலம்
Name[te]=GPG సంకేతపదం వాహకం
Name[th]=เอเจนต์รหัสผ่าน GPG
Name[tr]=GPG Parola Aracı
Name[ug]=GPG ئىم ياردەمچىسى
Name[uk]=Агента паролів GPG
Name[vi]=Agent cho mật khẩu GPG
Name[zh_CN]=GPG 密码代理
Name[zh_HK]=GPG 密碼代理程式
Name[zh_TW]=GPG 密碼代理程式
Comment=GNOME Keyring: GPG Agent
Comment[af]=GNOME-sleutelring: GPG-agent
Comment[ar]=حلقة مفاتيح جنوم: عميل GPG
Comment[as]=GNOME Keyring: GPG সহায়ক
Comment[ast]=Aniellu de claves de GNOME: Axente GPG
Comment[be]=Вязкі ключоў GNOME: GPG-агент
Comment[bg]=Ключодържател на GNOME: агент на GPG
Comment[bn]=GNOME কীরিং: GPG এজেন্ট
Comment[ca]=Anell de claus del GNOME: agent GPG
Comment[ca@valencia]=Anell de claus del GNOME: agent GPG
Comment[cs]=Klíčenka GNOME: Agent GPG
Comment[da]=GNOME-nøglering: GPG-agent
Comment[de]=GNOME-Schlüsselbunddienst: GPG-Agent
Comment[el]=Κλειδοθήκη GNOME: Πράκτορας (agent) GPG
Comment[en_GB]=GNOME Keyring: GPG Agent
Comment[es]=Depósito de claves de GNOME: agente GPG
Comment[et]=GNOME võtmerõngas: GPG-agent
Comment[eu]=GNOMEren gako-sorta: GPG agentea
Comment[fa]=دسته‌کلید گنوم: مامور GPG
Comment[fi]=Gnomen avainnippu: GPG-agentti
Comment[fr]=Trousseau de clés GNOME : agent GPG
Comment[gl]=Anel de chaves de GNOME: axente GPG
Comment[gu]=GNOME કીરીંગ: GPG ઍજન્ટ
Comment[he]=קבוצת מפתחות GNOME: סוכן GPG
Comment[hu]=GNOME kulcstartó: GPG-ügynök
Comment[id]=Ring Kunci GNOME: Agen GPG
Comment[it]=Portachiavi di GNOME: agente GPG
Comment[ja]=GNOME キーリング: GPG エージェント
Comment[km]=GNOME Keyring ៖ ភ្នាក់ងារ GPG
Comment[ko]=그놈 키 모음: GPG 에이전트
Comment[lt]=GNOME raktinė: GPG agentas
Comment[lv]=GNOME Keyring: GPG aģents
Comment[mk]=Приврзок за GNOME: GPG агент
Comment[nb]=GNOME nøkkelring: GPG-agent
Comment[nl]=Gnome-sleutelbos: GPG-agent
Comment[nn]=GNOME Nøkkelring: GPG-agent
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: GPG ਏਜੰਟ
Comment[pl]=Baza kluczy dla środowiska GNOME: agent GPG
Comment[pt]=GNOME Keyring: Agente GPG
Comment[pt_BR]=Chaveiro do GNOME: Agente GPG
Comment[ro]=Inelul de chei GNOME: Agent GPG
Comment[ru]=Связка ключей GNOME: GPG-агент
Comment[sl]=GNOME zbirka ključev: GPG agent
Comment[sr]=Гномови привесци: ГПГ агент
Comment[sr@latin]=Gnomovi privesci: GPG agent
Comment[sv]=GNOME-nyckelring: GPG-agent
Comment[ta]=GNOME கீரிங்: ஜிபிஜி முகவர்
Comment[te]=GNOME కీరింగ్: GPG వాహకం
Comment[th]=พวงกุญแจของ GNOME: เอเจนต์ GPG
Comment[tr]=GNOME Anahtarlığı: GPG Aracı
Comment[ug]=NOME ئاچقۇچ ھالقىسى：GPG ياردەمچىسى
Comment[uk]=Служба в'язки ключів GNOME: агент GPG
Comment[vi]=Vòng Khoá GNOME: GPG Agent
Comment[zh_CN]=GNOME 密钥环：GPG 代理
Comment[zh_HK]=GNOME 密碼匙圈：GPG 代理程式
Comment[zh_TW]=GNOME 鑰匙圈：GPG 代理程式
Exec=/usr/bin/gnome-keyring-daemon --start --components=gpg
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1
