[Desktop Entry]
Type=Application
Name=Secret Storage Service
Name[af]=Geheimbergingsdiens
Name[ar]=خدمة حفظ سرية
Name[as]=গুপ্ত সংৰক্ষণ সেৱা
Name[ast]=Serviciu d'almacenamientu de secretos
Name[be]=Служба сховішча для сакрэтаў
Name[bg]=Услуга за шифриран носител
Name[bn]=গোপন সংরক্ষণ সম্পর্কিত সার্ভিস
Name[ca]=Servei d'emmagatzematge de secrets
Name[ca@valencia]=Servei d'emmagatzematge de secrets
Name[cs]=Služba utajení dat
Name[da]=Secret Storage Service
Name[de]=Sicherheitsdienst
Name[el]=Υπηρεσία κρυφής αποθήκευσης
Name[en_GB]=Secret Storage Service
Name[eo]=Servo pri sekreta memorejo
Name[es]=Servicio de almacenamiento de secretos
Name[et]=Saladuste hoidmise teenus
Name[eu]=Ezkutuko biltegiaren zerbitzua
Name[fa]=سرویس مخزن محرمانه
Name[fi]=Salaisuuksien säilöntäpalvelu
Name[fr]=Service de stockage secret
Name[gl]=Servizo de almacenamento segredo
Name[gu]=ખાનગી સંગ્રહ સેવા
Name[he]=שרות אחסון חשאי
Name[hu]=Titoktároló szolgáltatás
Name[id]=Layanan Penyimpanan Rahasia
Name[it]=Servizio archivio segreto
Name[ja]=シークレットストレージサービス
Name[km]=សេវា​ផ្ទុក​សម្ងាត់
Name[ko]=비밀 저장고 서비스
Name[lt]=Slaptoji saugojimo tarnyba
Name[lv]=Slepenās glabātavas serviss
Name[mk]=Сервис за склад на тајни
Name[ms]=Servis Rahsia Penyimpanan
Name[nb]=Lagringstjeneste for hemmeligheter
Name[nl]=Secret Storage Service
Name[nn]=Hemmeleg lagerteneste
Name[pa]=ਗੁਪਤ ਸਟੋਰੇਜ਼ ਸਰਵਿਸ
Name[pl]=Usługa przechowywania haseł
Name[pt]=Serviço de Armazenamento Secreto
Name[pt_BR]=Serviço de armazenamento secreto
Name[ro]=Serviciul secret de stocare
Name[ru]=Служба безопасного хранения
Name[sl]=Shranjevanje skritih storitev
Name[sr]=Сервис са тајно складиштење
Name[sr@latin]=Servis sa tajno skladištenje
Name[sv]=Lagringstjänst för hemligheter
Name[ta]= ரகசிய சேமிப்பு சேவை
Name[te]=రహస్య నిల్వ సేవ
Name[th]=บริการเก็บข้อมูลลับ
Name[tr]=Gizli Depolama Hizmeti
Name[ug]=مەخپىيەتلىكنى ساقلاش مۇلازىمېتى
Name[uk]=Служба шифрування дисків
Name[vi]=Dịch vụ lưu trữ mật
Name[zh_CN]=保密存储服务
Name[zh_HK]=保密儲存區服務
Name[zh_TW]=保密儲存區服務
Comment=GNOME Keyring: Secret Service
Comment[af]=GNOME-sleutelring: geheimdiens
Comment[ar]=حلقة مفاتيح جنوم: خدمة سرية
Comment[as]=GNOME Keyring: গুপ্ত সেৱা
Comment[ast]=Depósitu de claves de GNOME: Serviciu de secretos
Comment[be]=Вязкі ключоў GNOME: служба сакрэтаў
Comment[bg]=Ключодържател на GNOME: услуга за тайни
Comment[bn]=GNOME কী রিং: গোপন সার্ভিস
Comment[ca]=Anell de claus del GNOME: servei de secrets
Comment[ca@valencia]=Anell de claus del GNOME: servei de secrets
Comment[cs]=Klíčenka GNOME: Služba utajení dat
Comment[da]=GNOME-nøglering: Secret Service
Comment[de]=GNOME-Schlüsselbunddienst: Sicherheitsdienst
Comment[el]=Κλειδοθήκη GNOME: Κρυφή υπηρεσία
Comment[en_GB]=GNOME Keyring: Secret Service
Comment[es]=Depósito de claves de GNOME: Servicio de secretos
Comment[et]=GNOME võtmerõngas: saladuste teenus
Comment[eu]=GNOMEren gako-sorta: ezkutuko zerbitzua
Comment[fa]=دسته‌کلید گنوم: سرویس محرمانه
Comment[fi]=Gnomen avainnippu: Salainen palvelu
Comment[fr]=Trousseau de clés GNOME : service secret
Comment[gl]=GNOME Keyring: servizo segredo
Comment[gu]=GNOME કીરીંગ: ખાનગી સેવા
Comment[he]=קבוצת מפתחות של GNOME: שירות חשאי
Comment[hu]=GNOME kulcstartó – titokszolgáltatás
Comment[id]=GNOME Keyring: Layanan Rahasia
Comment[it]=Portachiavi di GNOME: servizio segreto
Comment[ja]=GNOME キーリング: シークレットサービス
Comment[km]=GNOME Keyring ៖ សេវា​សម្ងាត់
Comment[ko]=그놈 키 모음: 비밀 서비스
Comment[lt]=GNOME raktinė: slaptoji tarnyba
Comment[lv]=GNOME Keyring: slepenais serviss
Comment[mk]=Приврзок на GNOME: таен сервис
Comment[ms]=GNOME Keyring: Servis Rahsia
Comment[nb]=GNOME nøkkelring: Hemmelige tjenester
Comment[nl]=Sleutelbos-service: Secret Service
Comment[nn]=GNOME Nøkkelring: Hemmeleg teneste
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ ਡੈਮਨ: ਗੁਪਤ ਸਰਵਿਸ
Comment[pl]=Baza kluczy dla środowiska GNOME: usługa haseł
Comment[pt]=GNOME Keyring: Serviço Secreto
Comment[pt_BR]=Chaveiro do GNOME: Serviço secreto
Comment[ro]=Inelul de chei GNOME: Serviciul secret
Comment[ru]=Связка ключей GNOME: служба безопасности
Comment[sl]=GNOME zbirka ključev: skrite storitve
Comment[sr]=Гномови привесци: сервис за тајност
Comment[sr@latin]=Gnomovi privesci: servis za tajnost
Comment[sv]=GNOME-nyckelring: Hemlighetstjänst
Comment[ta]=GNOME கீரிங்: ரகசிய சேவை
Comment[te]=GNOME కీరింగ్: రహస్య సేవ
Comment[th]=พวงกุญแจของ GNOME: บริการเก็บข้อมูลลับ
Comment[tr]=GNOME Anahtarlığı: Gizli Hizmet
Comment[ug]=GNOME ئاچقۇچ ھالقىسى：مەخپىيەت مۇلازىمېتى
Comment[uk]=Служба в'язки ключів GNOME: служба шифрування
Comment[vi]=Vòng Khoá GNOME: dịch vụ mật
Comment[zh_CN]=GNOME 密钥环：保密服务
Comment[zh_HK]=GNOME 密碼匙圈：保密服務
Comment[zh_TW]=GNOME 鑰匙圈：保密服務
Exec=/usr/bin/gnome-keyring-daemon --start --components=secrets
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1
