[Desktop Entry]
Type=Application
Name=Certificate and Key Storage
Name[af]=Sertifikaat- en sleutelberging
Name[ar]=مخزن الشهادات والمفاتيح
Name[as]=প্ৰমাণপত্ৰ আৰু চাবি সংৰক্ষণ
Name[ast]=Certificaos y almacenamientu de claves
Name[be]=Сховішча сертыфікатаў і ключоў
Name[bg]=Съхранение на сертификати и ключове
Name[bn]=সার্টিফিকেট এবং কী স্টোরেজ
Name[ca]=Magatzem de certificats i de claus
Name[ca@valencia]=Magatzem de certificats i de claus
Name[cs]=Odemknout certifikáty a umístění klíčů
Name[da]=Certifikat- og nøglelager
Name[de]=Zertifikat-/Schlüsselverwahrung
Name[el]=Αποθήκη πιστοποιητικών και κλειδιών
Name[en_GB]=Certificate and Key Storage
Name[eo]=Memorejo de atestiloj kaj ŝlosiloj
Name[es]=Certificados y almacenamiento de claves
Name[et]=Sertifikaadi- ja võtmehoidla
Name[eu]=Ziurtagirien/gakoen biltegia
Name[fa]=مخزن گواهی‌نامه و کلید
Name[fi]=Varmenne- ja avainsäilö
Name[fr]=Stockage de certificats et de clés
Name[gl]=Almacenamento de chave ou certificado
Name[gu]=પ્રમાણપત્ર અને કી સંગ્રહ
Name[he]=אחסון תעודה ומפתח
Name[hu]=Tanúsítvány- és kulcstároló
Name[id]=Penyimpanan Kunci dan Sertifikat
Name[it]=Archivio certificati e chiavi
Name[ja]=証明書および鍵を格納するストレージ
Name[km]=វិញ្ញាបនបត្រ និងការ​ផ្ទុកសោ
Name[ko]=인증서 및 키 저장소
Name[lt]=Liudijimų ir raktų saugykla
Name[lv]=Sertifikātu un atslēgu glabātava
Name[mk]=Склад на клучеви и сертификати
Name[ms]=Sijil dan Penyimpanan Kekunci
Name[nb]=Lager for sertifikat/nøkkel
Name[nl]=Certificaat- en sleutelopslag
Name[nn]=Serifikat- og nøkkellager
Name[pa]=ਸਰਟੀਫਿਕੇਟ ਅਤੇ ਕੁੰਜੀ ਸਟੋਰੇਜ਼
Name[pl]=Przechowalnia certyfikatów i kluczy
Name[pt]=Armazenamento de Chaves e Certificados
Name[pt_BR]=Certificados e armazenamento de chaves
Name[ro]=Mediu de stocare pentru certificate și chei
Name[ru]=Хранилище сертификатов и ключей
Name[sk]=Úložisko certifikátov a kľúčov
Name[sl]=Hranjenje potrdil in ključev
Name[sr]=Складиште сертификата и кључева
Name[sr@latin]=Skladište sertifikata i ključeva
Name[sv]=Certifikat och nyckellagring
Name[ta]=சான்றிதழ்/விசை சேமிப்பகம்
Name[te]=ధృవీకరణపత్రం మరియు కీ నిల్వ
Name[th]=แหล่งใบรับรองและกุญแจ
Name[tr]=Sertifika ve Anahtar Deposu
Name[ug]=گۇۋاھنامە ۋە شىفىرلىق ئاچقۇچ ئامبىرى
Name[uk]=Сертифікат та сховище ключів
Name[vi]=Lưu trữ Chứng nhận và Khoá
Name[zh_CN]=证书和密钥存储
Name[zh_HK]=證書與密碼匙儲存區
Name[zh_TW]=憑證與金鑰儲存區
Comment=GNOME Keyring: PKCS#11 Component
Comment[af]=GNOME-sleutelring: PKCS#11-komponent
Comment[ar]=حلقة مفاتيح جنوم: مكون PKCS#11
Comment[as]=GNOME Keyring: PKCS#11 উপাদান
Comment[ast]=Depósitu de claves de GNOME: Componente PKCS#11
Comment[be]=Вязкі ключоў GNOME: кампанент PKCS#11
Comment[bg]=Ключодържател на GNOME: компонент за PKCS#11
Comment[bn]=GNOME কী রিং: PKCS#11 কম্পোনেন্ট
Comment[ca]=Anell de claus del GNOME: component PKCS#11
Comment[ca@valencia]=Anell de claus del GNOME: component PKCS#11
Comment[cs]=Klíčenka GNOME: komponenta PKCS#11
Comment[da]=GNOME-nøgleringsdæmon: PKCS#11-komponent
Comment[de]=GNOME-Schlüsselbunddienst: PKCS#11-Komponente
Comment[el]=Κλειδοθήκη GNOME: Συνιστώσα PKCS#11
Comment[en_GB]=GNOME Keyring: PKCS#11 Component
Comment[es]=Depósito de claves de GNOME: Componente PKCS#11
Comment[et]=GNOME võtmerõngas: PKCS#11 komponent
Comment[eu]=GNOMEren gako-sorta: PKCS#11 osagaia
Comment[fa]=دسته‌کلید گنوم: عناصر PKCS#11
Comment[fi]=Gnomen avainnippu: PKCS#11-komponentti
Comment[fr]=Trousseau de clés GNOME : composant PKCS#11
Comment[gl]=GNOME Keyring: compoñente PKCS#11
Comment[gu]=GNOME કીરીંગ: PKCS#11 ઘટક
Comment[he]=קבוצת מפתחות של GNOME:רכיב PKCS#11
Comment[hu]=GNOME kulcstartó – PKCS#11 összetevő
Comment[id]=GNOME Keyring: Komponen PKCS#11
Comment[it]=Portachiavi di GNOME: componente PKCS#11
Comment[ja]=GNOME キーリング: PKCS#11 コンポーネント
Comment[km]=GNOME Keyring ៖ សមាសភាគ PKCS#11
Comment[ko]=그놈 키 모음: PKCS#11 컴포넌트
Comment[lt]=GNOME raktinė: PKCS#11 komponentas
Comment[lv]=GNOME Keyring: PKCS#11 komponente
Comment[mk]=Приврзок на GNOME: PKCS#11 компонента
Comment[ms]=GNOME Keyring: Komponen PKCS#11
Comment[nb]=GNOME nøkkelring: PKCS#11-komponent
Comment[nl]=Sleutelbos-service: PKCS#11-component
Comment[nn]=GNOME Nøkkelring: PKCS#11-komponent
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: PKCS#11 ਭਾਗ
Comment[pl]=Baza kluczy dla środowiska GNOME: składnik PKCS#11
Comment[pt]=GNOME Keyring: Componente PKCS#11
Comment[pt_BR]=Chaveiro do GNOME: Componente PKCS#11
Comment[ro]=Inelul de chei GNOME: Componenta PKCS#11
Comment[ru]=Связка ключей GNOME: компонент PKCS#11
Comment[sl]=GNOME zbirka ključev: PKCS#11 enota
Comment[sr]=Гномови привесци: ПКЦС#11 компонента
Comment[sr@latin]=Gnomovi privesci: PKCS#11 komponenta
Comment[sv]=GNOME-nyckelring: PKCS#11-komponent
Comment[ta]=GNOME கீரிங்:  PKCS#11 கூறு
Comment[te]=GNOME కీరింగ్: PKCS#11 అంశం
Comment[th]=พวงกุญแจของ GNOME: องค์ประกอบ PKCS#11
Comment[tr]=GNOME Anahtarlığı: PKCS#11 Bileşeni
Comment[ug]=GNOME ئاچقۇچ ھالقىسى：PKCS#11 دېتالى
Comment[uk]=Служба в'язки ключів GNOME: компонент PKCS#11
Comment[vi]=Vòng Khoá GNOME: thành phần PKCS#11
Comment[zh_CN]=GNOME 密钥环：PKCS#11 组件
Comment[zh_HK]=GNOME 密碼匙圈：PKCS#11 元件
Comment[zh_TW]=GNOME 鑰匙圈：PKCS#11 元件
Exec=/usr/bin/gnome-keyring-daemon --start --components=pkcs11
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1
