[Desktop Entry]
Type=Application
Name=SSH Key Agent
Name[af]=SSH-sleutelagent
Name[ar]=عميل مفاتيح SSH
Name[as]=SSH চাবি সহায়ক
Name[ast]=Axente de claves SSH
Name[be]=SSH-агент ключоў
Name[bg]=Агентът на SSH за ключове
Name[bn]=SSH কী এজেন্ট
Name[ca]=Agent de claus SSH
Name[ca@valencia]=Agent de claus SSH
Name[cs]=Agent klíčů SSH
Name[da]=SSH-nøgleagent
Name[de]=SSH-Schlüsselagent
Name[el]=Πράκτορας (agent) κλειδιού SSH
Name[en_GB]=SSH Key Agent
Name[es]=Agente de claves SSH
Name[et]=SSH-võtmete agent
Name[eu]=SSH gako-agentea
Name[fa]=مامور کلید SSH
Name[fi]=SSH-avainten agentti
Name[fr]=Agent de clés SSH
Name[gl]=Axente de chave SSH
Name[gu]=SSH કી ઍજન્ટ
Name[he]=סוכן מפתחות SSH
Name[hu]=SSH-kulcs ügynök
Name[id]=Agen Kunci SSH
Name[it]=Agente chiavi SSH
Name[ja]=SSH 鍵エージェント
Name[km]=ភ្នាក់ងារ​សោ SSH
Name[ko]=SSH 키 에이전트
Name[lt]=SSH raktų tarnyba
Name[lv]=SSH atslēgu aģents
Name[mk]=Агент за SSH клучеви
Name[ms]=Agen Kekunci SSH
Name[nb]=SSH-nøkkelagent
Name[nl]=SSH-sleutelagent
Name[nn]=Nøkkelagent for SSH
Name[pa]=SSH ਕੁੰਜੀ ਏਜੰਟ
Name[pl]=Agent kluczy SSH
Name[pt]=Agente de Chaves SSH
Name[pt_BR]=Agente de chaves SSH
Name[ro]=Agent pentru chei SSH
Name[ru]=Агент ключей SSH
Name[sl]=SSH Agent ključev
Name[sr]=Агент за ССХ кључеве
Name[sr@latin]=Agent za SSH ključeve
Name[sv]=SSH-nyckelagent
Name[ta]=SSH முகவர்
Name[te]=SSH కీ వాహకము
Name[th]=เอเจนต์กุญแจ SSH
Name[tr]=SSH Anahtar Aracı
Name[ug]=SSH  ئاچقۇچ ياردەمچىسى
Name[uk]=Агент ключів SSH
Name[vi]=Tác nhân khoá SSH
Name[zh_CN]=SSH 密钥代理
Name[zh_HK]=SSH 密碼匙代理程式
Name[zh_TW]=SSH 金鑰代理程式
Comment=GNOME Keyring: SSH Agent
Comment[af]=GNOME-sleutelring: SSH-agent
Comment[ar]=حلقة مفاتيح جنوم: عميل SSH
Comment[as]=GNOME Keyring: SSH সহায়ক
Comment[ast]=Depósitu de claves de GNOME: axente SSH
Comment[be]=Вязкі ключоў GNOME: SSH-агент
Comment[bg]=Ключодържател на GNOME: агент на SSH
Comment[bn]=GNOME কী রিং: SSH এজেন্ট
Comment[ca]=Anell de claus del GNOME: agent SSH
Comment[ca@valencia]=Anell de claus del GNOME: agent SSH
Comment[cs]=Klíčenka GNOME: Agent SSH
Comment[da]=GNOME-nøgleringsdæmon: SSH-agent
Comment[de]=GNOME-Schlüsselbunddienst: SSH-Agent
Comment[el]=Κλειδοθήκη GNOME: Πράκτορας (agent) SSH
Comment[en_GB]=GNOME Keyring: SSH Agent
Comment[es]=Depósito de claves de GNOME: agente SSH
Comment[et]=GNOME võtmerõngas: SSH-agent
Comment[eu]=GNOMEren gako-sorta: SSH agentea
Comment[fa]=دسته‌کلید گنوم: مامور SSH
Comment[fi]=Gnomen avainnippu: SSH-agentti
Comment[fr]=Trousseau de clés GNOME : agent SSH
Comment[gl]=GNOME Keyring: Axente SSH
Comment[gu]=GNOME કીરીંગ: SSH ઍજન્ટ
Comment[he]=קבוצת מפתחות של GNOME: סוכן SSH
Comment[hu]=GNOME kulcstartó – SSH-ügynök
Comment[id]=Ring Kunci GNOME: Agen SSH
Comment[it]=Portachiavi di GNOME: agente SSH
Comment[ja]=GNOME キーリング: SSH エージェント
Comment[km]=GNOME Keyring ៖ ភ្នាក់ងារ SSH
Comment[ko]=그놈 키 모음: SSH 에이전트
Comment[lt]=GNOME raktinė: SSH tarnyba
Comment[lv]=GNOME Keyring: SSH aģents
Comment[mk]=Приврзок на GNOME: SSH агент
Comment[ms]=GNOME Keyring: Agen SSH
Comment[nb]=GNOME nøkkelring: SSH-agent
Comment[nl]=Sleutelbos-service: SSH-agent
Comment[nn]=GNOME Nøkkelring: SSH-agent
Comment[pa]=ਗਨੋਮ ਕੀਰਿੰਗ: SSH ਏਜੰਟ
Comment[pl]=Baza kluczy dla środowiska GNOME: agent SSH
Comment[pt]=GNOME Keyring: Agente SSH
Comment[pt_BR]=Chaveiro do GNOME: Agente SSH
Comment[ro]=Inelul de chei GNOME: Agent SSH
Comment[ru]=Связка ключей GNOME: SSH-агент
Comment[sl]=GNOME zbirka ključev: SSH agent
Comment[sr]=Гномови привесци: ССХ агент
Comment[sr@latin]=Gnomovi privesci: SSH agent
Comment[sv]=GNOME-nyckelring: SSH-agent
Comment[ta]=GNOME கீரிங்: SSH முகவர்
Comment[te]=GNOME కీరింగ్: SSH వాహకం
Comment[th]=พวงกุญแจของ GNOME: เอเจนต์ SSH
Comment[tr]=GNOME Anahtarlığı: SSH Aracı
Comment[ug]=GNOME ئاچقۇچ ھالقىسى：SSH  ياردەمچىسى
Comment[uk]=Служба в'язки ключів GNOME: агент SSH
Comment[vi]=Vòng Khoá GNOME: SSH Agent
Comment[zh_CN]=GNOME 密钥环：SSH 代理
Comment[zh_HK]=GNOME 密碼匙圈：SSH 代理程式
Comment[zh_TW]=GNOME 鑰匙圈：SSH 代理程式
Exec=/usr/bin/gnome-keyring-daemon --start --components=ssh
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1
