[Desktop Entry]
Name=Pidgin Internet Messenger
Name[af]=Pidgin Internetboodskapper
Name[ar]=مرسال الإنترنت بِدْجِن
Name[be@latin]=Internet-kamunikatar Pidgin
Name[bn]=পিজিন ইন্টারনেট বার্তাবাহক
Name[bn_IN]=Pidgin ইন্টারনেট মেসেঞ্জার
Name[ca]=Missatger d'Internet Pidgin
Name[ca@valencia]=Missatger d'Internet Pidgin
Name[cs]=Pidgin Internet Messenger
Name[da]=Pidgin Internet Besked
Name[de]=Pidgin Internet-Sofortnachrichtendienst
Name[el]=Αποστολέας μηνυμάτων διαδικτύου Pidgin
Name[en_GB]=Pidgin Internet Messenger
Name[eo]=Piĝin Interreta Mesaĝilo
Name[es]=Cliente de mensajería de Internet Pidgin
Name[et]=Pidgin, Interneti sõnumivahetus
Name[eu]=Pidgin Internet-Mezularia
Name[fa]=پیغام‌رسان اینترنتی پیجین
Name[fi]=Pidgin-pikaviestin
Name[fr]=Messagerie internet Pidgin
Name[gl]=Mensaxería na Internet de Pidgin
Name[gu]=Pidgin Internet Messenger
Name[he]=פידג'ין למסרים באינטרנט
Name[hi]=पिडगिन इंटरनेट मैसेंजर
Name[hu]=Pidgin üzenetküldő
Name[id]=Pesan Internet Pidgin
Name[it]=Pidgin Internet Messenger
Name[ja]=Pidgin インターネット・メッセンジャー
Name[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត​របស់ Pidgin
Name[kn]=ಪಿಜಿನ್ ಇಂಟರ್ನೆಟ್ ಮೆಸೆಂಜರ್
Name[ko]=Pidgin 인터넷 메신저
Name[lt]=Pidgin pokalbiai internete
Name[mai]=पिजिन इंटरनेट मेसेंजर
Name[mhr]=Pidgin писе каласымаш алмаш клиент
Name[mk]=Pidgin инстант пораки
Name[mn]=Пизин Интернет Мессенжер
Name[mr]=Pidgin इंटरनेट संदेशवाहक
Name[nb]=Pidgin Lynmeldingsklient
Name[nl]=Pidgin Internet Messenger
Name[nn]=Pidgin Internett meldingsklient
Name[or]=ପିଜିନ୍ ଇଣ୍ଟରନେଟ ସଂଦେଶବାହକ
Name[pa]=ਪਿਡਗਿਨ ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
Name[pl]=Komunikator internetowy Pidgin
Name[pt_BR]=Mensageiro da Internet Pidgin
Name[ro]=Mesagerul Pidgin
Name[ru]=Клиент обмена мгновенными сообщениями Pidgin
Name[sk]=Internetový komunikátor Pidgin
Name[sl]=Spletni sel Pidgin
Name[sq]=Pidgin Internet Messenger
Name[sr]=Пиџин Интернет писмоноша
Name[sr@latin]=Pidžin Internet pismonoša
Name[sv]=Pidgin Meddelandeklient
Name[ta]=Pidgin இணையத்தள மேலாளர்
Name[te]=పిడ్జిన్ ఇంటర్నెట్ మెసెంజర్
Name[tr]=Pidgin İnternet Mesajlaşma Aracı
Name[uk]=Клієнт обміну миттєвими повідомленнями Pidgin
Name[vi]=Tin Nhắn Pidgin
Name[zh_CN]=Pidgin 互联网通讯程序
Name[zh_HK]=Pidgin 網絡即時通
Name[zh_TW]=Pidgin 網路即時通
GenericName=Internet Messenger
GenericName[af]=Internetboodskapper
GenericName[ar]=مرسال إنترنت
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Бързи съобщения
GenericName[bn]=ইন্টারনেট বার্তাবাহক
GenericName[bn_IN]=ইন্টারনেট মেসেঞ্জার
GenericName[ca]=Missatger d'Internet
GenericName[ca@valencia]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internet beskeder
GenericName[de]=Internet-Sofortnachrichtendienst
GenericName[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
GenericName[el]=Αποστολέας μηνυμάτων διαδικτύου
GenericName[en_GB]=Internet Messenger
GenericName[eo]=Interreta Mesaĝilo
GenericName[es]=Cliente de mensajería de Internet
GenericName[et]=Interneti sõnumivahetus
GenericName[eu]=Internet-Mezularia
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[gl]=Mensaxería na Internet
GenericName[gu]=Internet Messenger
GenericName[he]=למסרים באינטרנט
GenericName[hi]=इंटरनेट मेसेंजर
GenericName[hu]=Azonnali üzenetküldés
GenericName[id]=Pengirim Pesan Internet
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត
GenericName[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್ 
GenericName[ko]=인터넷 메신저
GenericName[ku]=Peyamnêra înternetê
GenericName[lt]=Pokalbiai internete
GenericName[mai]=इंटरनेट मेसेंजर
GenericName[mhr]=Писе каласымаш алмаш клиент
GenericName[mk]=Инстант пораки
GenericName[mn]=Интернет Мессенжер
GenericName[mr]=इंटरनेट मेसेंजर
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Internet Messenger
GenericName[nn]=Lynmeldingsklient
GenericName[or]=ଇଣ୍ଟରନେଟ ସଂଦେଶବାହାକ
GenericName[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
GenericName[pl]=Komunikator internetowy
GenericName[ps]=د انترنت زری
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[si]=අන්තර්ජාල පණිවිඩකරු
GenericName[sk]=Internetový komunikátor
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmësjellës Internet
GenericName[sr]=Интернет писмоноша
GenericName[sr@latin]=Internet pismonoša
GenericName[sv]=Meddelandeklient
GenericName[ta]=இணையதள தூதுவர்
GenericName[te]=ఇంటర్నెట్ మెసెంజర్
GenericName[th]=โปรแกรมข้อความด่วน
GenericName[tr]=İnternet Mesajlaşma Aracı
GenericName[uk]=Спілкування миттєвими повідомленнями
GenericName[ur]=ا نٹرنیٹ میسینجر
GenericName[vi]=Tin Nhắn
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Comment[af]=Gesels met kitsboodsappe.  Daar is ondersteuning vir AIM, Google Talk, Jabber/XMPP, MSN, Yahoo en meer
Comment[bn]=IM-এর মাধ্যমে আড্ডা দিন। যা AIM, Google Talk, Jabber/XMPP, MSN, Yahoo এবং আরও অনেক কিছু সমর্থন করে 
Comment[bn_IN]=IM-র মাধ্যমে আলাপ।  AIM, Google Talk, Jabber/XMPP, MSN, Yahoo এবং আরো অনেক সমর্থিত হয়
Comment[ca]=Xategeu amb missatgeria instantània, amb AIM, Google Talk, Jabber/XMPP, MSN, Yahoo i més
Comment[ca@valencia]=Xategeu amb missatgeria instantània, amb AIM, Google Talk, Jabber/XMPP, MSN, Yahoo i més
Comment[cs]=Chat pomocí IM. Podporuje AIM, Google Talk, Jabber/XMPP, MSN, Yahoo a další
Comment[de]=Chatten mit Kurznachrichten.  Unterstützt AIM, Google Talk, Jabber/XMPP, MSN, Yahoo und weitere
Comment[en_GB]=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Comment[es]=Chat sobre MI. Ofrece soporte para AMI, Google Talk, Jabber/XMPP, MSN, Yahoo! y más
Comment[fr]=Conversation par messages instantanés. Supporte AIM, Google Talk, Jabber/XMPP, MSN, Yahoo et d'autres
Comment[gu]=IM પર વાતચીત. AIM, Google Talk, Jabber/XMPP, MSN, Yahoo અને વધારેને આધાર આપે છે
Comment[he]=צ'אט בעזרת הודעות-מיידיות.  תומך AIM, Google Talk, Jabber/XMPP, MSN, Yahoo ועוד
Comment[hi]=IM पर चैट.  AIM, Google Talk, Jabber/XMPP, MSN, Yahoo और कुछ और का समर्थन करता है
Comment[hu]=Azonnali üzenetküldés AIM, Google Talk, Jabber/XMPP, MSN, Yahoo és más protokollok támogatásával
Comment[it]=Chat attraverso MI. Supporta AIM, Google Talk, Jabber/XMPP, MSN, Yahoo ed altri ancora
Comment[km]=ជជែក​កំសាន្ត​តាម​ IM ។ គាំទ្រ AIM, Google Talk, Jabber/XMPP, MSN, យ៉ាហ៊ូ​ និង​​ផ្សេងៗ​ទៀត
Comment[kn]=IM ಮೂಲಕ ಮಾತುಕತೆ.  AIM, Google Talk, Jabber/XMPP, MSN, Yahoo ಹಾಗು ಇನ್ನೂ ಬಹಳಷ್ಟನ್ನು ಬೆಂಬಲಿಸುತ್ತದೆ
Comment[mhr]=Писе каласымаш дене тототлымвер. AIM, Google Talk, Jabber/XMPP, MSN, Yahoo да молылын эҥерта
Comment[mr]=IM वरील संभाषण. AIM, Google Talk, Jabber/XMPP, MSN, Yahoo व आणखीकरीता समर्थन पुरवतो
Comment[nb]=Samtale over IM. Støtter AIM, Google Talk, Jabber/XMPP, MSN, Yahoo! og mer
Comment[nl]=Chat over IM. Ondersteunt AIM, Google Talk, Jabber/XMPP, MSN, Yahoo en meer
Comment[nn]=Prat ved hjelp av lynmeldingar.  Støttar AIM, Google Talk, Jabber/XMPP, MSN, Yahoo og fleire
Comment[or]=IM ଉପରେ ଚାର୍ଟ।  AIM, Google Talk, Jabber/XMPP, MSN, Yahoo ଏବଂ ସେହିପରି ଅନେକକୁ ସମର୍ଥନ କରିଥାଏ
Comment[pa]=IM ਰਾਹੀਂ ਗੱਲਬਾਤ। AIM, ਗੂਗਲ ਟਾਕ, ਜੱਬਰ/XMPP, MSN, ਯਾਹੂ ਅਤੇ ਹੋਰ ਲਈ ਸਹਾਇਕ।
Comment[pl]=Rozmawianie przez komunikator. Obsługuje sieci AIM, Google Talk, Jabber/XMPP, MSN, Yahoo oraz więcej
Comment[ro]=Chat prin mesaje instant. Suportă rețelele AIM, Google Talk, Jabber/XMPP, MSN, Yahoo și altele.
Comment[ru]=Переписка мгновенными сообщениями.  Поддерживает AIM, Google Talk, Jabber/XMPP, MSN, Yahoo и не только
Comment[sk]=Chat cez IM.  Podporuje AIM, Google Talk, Jabber/XMPP, MSN, Yahoo a ďalšie
Comment[sl]=Klepetajte s svetom. Podpira AIM, Google Talk, Jabber/XMPP, MSN, Yahoo in druge.
Comment[sq]=Fjalosje përmes IM-së.  Mbulon AIM, Google Talk, Jabber/XMPP, MSN, Yahoo dhe të tjera
Comment[sv]=Skicka snabbmeddelanden. Stödjer AIM, Google Talk, Jabber/XMPP, MSN, Yahoo med fler
Comment[ta]=அரட்டை IM முடிந்தது.  AIMக்கு துணைபுரிகிறது, Google Talk, Jabber/XMPP, MSN, Yahoo மற்றும் மேலும்
Comment[te]=IM నందు చాట్.  AIM, Google Talk, Jabber/XMPP, MSN, Yahoo మరియు మరిన్ని మద్దతిస్తుంది
Comment[uk]=Балачка через миттєві повідомлення. Підтримує AIM, Google Talk, Jabber/XMPP, MSN, Yahoo та інші
Comment[vi]=Trò chuyện qua mạng tin nhắn tức khắc: hỗ trợ AIM, Google Talk, Jabber/XMPP, MSN, Yahoo và nhiều mạng khác
Comment[zh_CN]=互联网通讯程序。 支持 AIM、Google Talk、Jabber/XMPP、MSN、Yahoo 和更多
Comment[zh_HK]=讓你可以透過即時通訊與好友聊天，支援 AIM、Google Talk、Jabber/XMPP、MSN、Yahoo 等等
Comment[zh_TW]=讓您可以透過即時通訊與好友聊天，支援 AIM、Google Talk、Jabber/XMPP、MSN、Yahoo 等等
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
NotShowIn=GNOME
Hidden=true