[Desktop Entry]
Name=Power Manager
Name[ar]=مدير الطاقة
Name[ast]=Alministrador d'enerxía
Name[bg]=Управление на захранването
Name[ca]=Gestor d'energia
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχειριστής ρεύματος
Name[en_GB]=Power Manager
Name[es]=Administrador de energía
Name[et]=Vooluhaldur
Name[eu]=Energia kudeaketa
Name[fi]=Virranhallinta
Name[fr]=Gestionnaire d'alimentation
Name[gl]=Xestor de enerxía
Name[hr]=Upravitelj energijom
Name[hu]=Energiakezelő
Name[id]=Manajer Daya
Name[it]=Gestore di energia
Name[ja]=電源管理
Name[kk]=Электр қоректендіру басқарушысы
Name[ko]=전원 관리자
Name[lt]=Energijos tvarkyklė
Name[nb]=Strømstyring
Name[nl]=Energiebeheerder
Name[nn]=Straumstyring
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer zasilania
Name[pt]=Gestão de energia
Name[pt_BR]=Gerenciador de energia
Name[ru]=Менеджер питания 
Name[si]=ශක්ති කළමනාකාරකය
Name[sk]=Správca napájania
Name[sv]=Strömhanterare
Name[te]=విద్యుత్ నిర్వాహకం
Name[tr]=Güç Yöneticisi
Name[ug]=مەنبە باشقۇرغۇ
Name[uk]=Менеджер живлення
Name[ur]=توانائی منیجر
Name[ur_PK]=توانائی منیجر
Name[zh_CN]=电源管理器
Name[zh_TW]=電源管理員
Comment=Power management for the Xfce desktop
Comment[ar]=مدير الطاقة لواجهة إكسفس
Comment[ast]=Alministrador d'enerxía pal escritoriu Xfce
Comment[bg]=Управление на захранването за Xfce среда
Comment[ca]=Gestor d'energia per l'escriptori Xfce
Comment[cs]=Správa napájení pro prostředí Xfce
Comment[da]=Strømstyring til skrivebordsmiljøet Xfce
Comment[de]=Energieverwaltung für die Arbeitsumgebung Xfce
Comment[el]=Διαχείριση ρεύματος για την επιφάνεια εργασίας του xfce
Comment[en_GB]=Power management for the Xfce desktop
Comment[es]=Administrador de energía para el escritorio Xfce
Comment[et]=Xfce töölaua vooluhaldur
Comment[eu]=Xfce mahaigain inguruneko energia kudeatzailea
Comment[fi]=Xfce-työpöydän virrankäytön hallinta
Comment[fr]=Gestion d'alimentation pour l'environnement de bureau Xfce
Comment[gl]=Xestión de enerxía para o escritorio Xfce
Comment[hr]=Upravljanje energijom za Xfce radno okruženje
Comment[hu]=Energiagazdálkodás az Xfce környezetben
Comment[id]=Manajemen daya untuk desktop Xfce
Comment[it]=Gestione dell'energia per l'ambiente Xfce
Comment[ja]=Xfce デスクトップ用電源管理
Comment[kk]=Xfce жұмыс үстел ортасы үшін эл. қорегін басқару
Comment[ko]=Xfce 데스크톱을 위한 전원 관리자
Comment[lt]=Xfce darbastalio energijos tvarkyklė
Comment[nl]=Energiebeheer voor de Xfce-werkomgeving
Comment[nn]=Straumstyring for Xfce-skrivebordet
Comment[pa]=Xfce ਡੈਸਕਟਾਪ ਲਈ ਪਾਵਰ ਮੈਨੇਜਰ
Comment[pl]=Zarządza zasilaniem w środowisku Xfce
Comment[pt]=Gestão de energia para o Xfce
Comment[pt_BR]=Gerenciamento de energia para o Xfce desktop
Comment[ru]=Управление питанием для окружения рабочего стола Xfce 
Comment[si]=Xfce desktop සඳහා ශක්ති කළමණාකාරකය
Comment[sk]=Správa napájania pre prostredie Xfce
Comment[sv]=Strömhanterare för Xfce-skrivbordet
Comment[te]=Xfce డెస్క్‍టాప్ కొరకు విద్యుత్ నిర్వాహణ
Comment[tr]=Xfce masaüstü için güç yönetimi
Comment[ug]=Xfce ئۈستەليۈزىنىڭ مەنبە باشقۇرغۇ پروگراممىسى 
Comment[uk]=Менеджер живлення для робочого столу Xfce
Comment[ur]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[ur_PK]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[zh_CN]=Xfce 桌面的电源管理
Comment[zh_TW]=Xfce 桌面的電源管理
Icon=xfpm-ac-adapter
Exec=xfce4-power-manager
Terminal=false
Type=Application
OnlyShowIn=XFCE;GNOME;
StartupNotify=false
